.w-picker {
  --picker-max-height: 50vh;
  --picker-height: 20rem;

  width: 100vw;
  // height: var(--picker-height);
  max-height: var(--picker-max-height);
  display: flex;
  flex-direction: column;

  &__action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1%;
    border-bottom: 1px solid
      var(#{getVarName('border', 'color')}, rgba(0, 0, 0, 0.2));
    flex-shrink: 0;
  }

  &__button {
    &--default {
      box-sizing: border-box;
      padding: p2r(2) p2r(5);
      @include btn();
      font-size: var(#{getVarName('font-size')});
    }

    &--cancel {
      color: var(#{getVarName('color', 'black')});
    }

    &--confirm {
      color: var(#{getVarName('color', 'success')});
    }
  }
}

.w-picker-options {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__column {
    flex: 1;
    @include notScrollbar();
    overflow-y: auto;
    overflow-x: hidden;

    & > li {
      --picker-option-font-size: var(#{getVarName('font-size', 'sm')});

      width: 100%;
      font-size: var(--picker-option-font-size);
      line-height: calc(var(--picker-option-font-size) + #{p2r(5)});
      text-align: center;
      box-sizing: border-box;
      padding: p2r(8) p2r(5);
      border-bottom: 1px solid var(#{getVarName('border-color')});

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
