@import './funs.scss';
@import './theme.scss';

body {
  font-size: 62.5%; /*px换算成rem*/
  font-family: "'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif";
}

@media (min-width: 1440px) {
  body {
    font-size: 63.75%;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 73.125%;
  }
}

@media (min-width: 1680px) {
  body {
    font-size: 77%;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 87.9375%;
  }
}

@media (min-width: 2560px) {
  body {
    font-size: 116.875%;
  }
}

@media (min-width: 3440px) {
  body {
    font-size: 157.5%;
  }
}

@media (min-width: 3840px) {
  body {
    font-size: 176%;
  }
}

body {
  /* 格子背景色 */
  background-image: linear-gradient(
      90deg,
      rgb(50 0 0 / 5%) 3%,
      rgb(0 0 0 / 0%) 3%
    ),
    linear-gradient(360deg, rgb(50 0 0 / 5%) 3%, rgb(0 0 0 / 0%) 3%);
  background-size: p2r(20) p2r(20);
  background-repeat: repeat;
  background-position: center center;

  /** 滚动条 */
  overflow-y: auto;
  @include scrollbar();

  /** 字体大小 */
  font-size: 62.5%;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: p2r(12);
}

/** 设置 var 变量 */
@include set-map-css-var($map: $colors, $name: 'color');
@include set-map-css-var($map: $text-color, $name: 'text-color');
@include set-map-css-var($map: $fill-color, $name: 'fill-color');
@include set-map-css-var($map: $bg-color, $name: 'bg-color');
@include set-map-css-var($map: $border-color, $name: 'border-color');
@include set-map-css-var($map: $border-radius, $name: 'border-radius');
@include set-map-css-var($map: $box-shadow, $name: 'box-shadow');
@include set-map-css-var($map: $font-size, $name: 'font-size');
@include set-map-css-var($map: $z-index, $name: 'z-index');
@include set-map-css-var($map: $disabled, $name: 'disabled');
@include set-map-css-var($map: $overlay-color, $name: 'overlay-color');
@include set-map-css-var($map: $mask-color, $name: 'mask-color');
