.w-dialog {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(#{getVarName('bg-color')});
	box-shadow: var(#{getVarName('box-shadow')});
	border-radius: var(#{getVarName('border-radius', 'round')});
	box-sizing: border-box;

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1rem;

		&--title {
			display: inline-block;
			font-size: 1rem;
			color: #000;
			text-align: center;
			font-weight: bold;
		}

		&--close {
			width: 1.2rem;
			height: 1.2rem;
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0.6rem;
			line-height: 0.6rem;
			border: 1px solid var(#{getVarName('border-color')}, rgb(0 0 0 / 20%));
			border-radius: 50%;

			&:hover {
				filter: drop-shadow(0 0 2rem #646cffaa);
				background-color: var(#{getVarName('fill-color', 'darker')});
			}
		}
	}

	&__content {
		overflow: hidden auto;
		min-height: 2rem;
		max-height: 20rem;
		text-align: center;

		&::-webkit-scrollbar {
			width: 24px;
			height: 8px;
		}

		&::-webkit-scrollbar-thumb {
			border-left: 16px solid transparent;
			background-clip: padding-box;
			background-color: yellow;
		}

		&::-webkit-scrollbar-track {
			background-color: yellow;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		width: 100%;
		height: 2.5rem;
		border-top: 1px solid var(#{getVarName('border-color', 'dark')});

		&--btn {
			flex: 1;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 1px solid var(#{getVarName('border-color', 'dark')});
			cursor: pointer;

			&:last-child {
				border-right: none;
			}
		}

		&--cancel {
			color: var(#{getVarName('color', 'info')}, #323233);

			&:hover {
				filter: drop-shadow(0 0 2rem #646cffaa);
			}
		}

		&--confirm {
			color: var(#{getVarName('color', 'primary')}, #409eff);

			&:hover {
				filter: drop-shadow(0 0 2em #42b883aa);
			}
		}
	}
}

/* 动画 */
.w-dialog-enter-active,
.dialog-leave-active {
	transition: all 0.8s ease;
}

.w-dialog-enter-from {
	opacity: 0;
	transform: scale(1.05);
	color: red;
}

.w-dialog-leave-to {
	opacity: 0;
	transform: scale(1.05);
	color: yellow;
}
